@media screen and (min-width: 33.750em) {

	h1{
		font-size: 3em;
	}

	.projects{
		li{
			.clearfix;
		}
		p{
			.left;
		}
		a{
			.right;
		}
	}

	.padded{
		padding: 50px;
	}

	.topContainer{
		padding: 90px 25px;
	}

}