body{
	background: #F1F8F9;
	.body;
	color: @grey;
}

a{
	color: @blue;
	&:hover{
		text-decoration: none;
	}
}

.animated {
	-webkit-animation-duration: 1.5s;
	   -moz-animation-duration: 1.5s;
	     -o-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.animated.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

::selection {
	background: @blue;
	color: #fff;
}

::-moz-selection {
	background: @blue;
	color: #fff;
}

/*-----------------------------------
| Layout
------------------------------------*/

.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px;
}

.padded{
	padding: 25px;
}

.topContainer{
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 25px;
}

/*-----------------------------------
| Header
------------------------------------*/

#pageHeader{
	.clearfix;
	a{
		.right;
		display: block;
		line-height: 1;
		border: 1px solid @grey;
		.border-radius(50px);
		padding: 10px;
		text-decoration: none;
		color: @grey;
		font-size: 0.8em;
		&:hover{
			background: #fff;
			color: @blue;
			border-color: @blue;
		}
		&:active{
			.box-shadow (inset 0 1px 1px rgba(0,0,0,.1));
		}
	}
}

.us{
	font-weight: bold;
	text-transform: uppercase;
	.left;
	margin: 5px 0 0;
}

h1{
	font-size: 2em;
	font-weight: 300;
	margin: 100px 0 0;
}

/*-----------------------------------
| Content
------------------------------------*/

h2{
	font-weight: 300;
	display: inline-block;
	&:after{
		content: ' ';
		border-bottom: 1px solid @grey;
		display: block;
		width: 47px;
		margin: 20px 0;
	}
}

.content{
	background: #fff;
	.box-shadow (0 0 5px 2px rgba(118, 151, 193, 0.2));
}

#pageFooter{
	// .box-shadow (inset 0 1px 5px rgba(118, 151, 193, 0.2));
	padding: 25px 0;
	font-size: 0.8em;
}

/*-----------------------------------
| Projects
------------------------------------*/

.projects{
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		border-bottom: 1px solid #eee;
		padding: 0 0 50px;
		margin: 0 0 50px;
		&:last-child {
			border: none;
		}
	}

	a{
		display: inline-block;
		line-height: 1;
		border: 1px solid @grey;
		.border-radius(50px);
		padding: 10px;
		text-decoration: none;
		color: @grey;
		font-size: 0.8em;
		&:hover{
			background: #fff;
			color: @blue;
			border-color: @blue;
		}
		&:active{
			.box-shadow (inset 0 1px 1px rgba(0,0,0,.1));
		}
	}
}