/*-----------------------------------
| Time Savers
------------------------------------*/

.border-radius (@string){
	-webkit-border-radius: @string;
	-moz-border-radius: @string;
	border-radius: @string;
}

.box-shadow (@string){
	-webkit-box-shadow: @string;
	-moz-box-shadow: @string;
	border-radius: @string;
}

.transition (@string){
	-webkit-transition: @string;
	-moz-transition: @string;
	transition: @string;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clearfix{
	zoom: 1;
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.block{
	display: block;
}

/*-----------------------------------
| Font Stacks
------------------------------------*/

.body (@size: 1em, @weight: normal, @lineheight: 1.5){
	font: @weight @size 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: @lineheight;
}

@grey: #77776B;
@blue: #7697c1;